*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5rem;
    background-color: rgb(255, 200, 0);
    text-transform: uppercase;
    margin-bottom: 100px;
}

#logo img{
    width: 50px;
    margin-right: 20px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#choose_parameter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#status{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#btn{
    padding:5px;
    background-color: rgb(31, 30, 30);
    outline: none;
    border: 2px solid rgb(255, 200, 0);
    border-radius: 5px;
    height: 50px;
    width: 200px;
    color: rgb(255, 200, 0);
}

#btn{
    cursor: pointer;
}

#hire_count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.status_name{
    background-color: rgb(197, 196, 196);
    border: 2px solid rgb(248, 234, 184);
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: rgb(100, 99, 98);
    display: flex;
    align-items: center;
    justify-content: center;

}
